.card {
  display: block;
  padding: 20px;
  border-radius: 10px;
  background:rgb(105, 105, 255);
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  transition: transform 0.2s ease, background 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  margin-bottom: 10px;
}
