.content-area {
  padding: 40px;
  /* max-width: 900px; */
  /* border: 1px solid black; */
  /* border-right: 1px solid rgb(209, 209, 209); */

}

.content-area p {
  margin-bottom: 15px;
  line-height: 1.6;
}


.lesson-title{
  font-size: 3.5rem;
  /* font-weight: bold; */
}