.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgb(229, 229, 229);
} 
.navbar-item{
  padding: 0 1rem;
}
.navbar-logo{
  margin-left: 2rem;
}
.navbar-logo .navbar-large-logo {
  width: 250px;
  height: auto;
}
.navbar-logo .navbar-small-logo {
  display: none;
}


