* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
html{
  font-size: 10px;
}






.website-body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.website-content{
  flex: 1;
}



